@media (min-width: 768px) {
  .menu-lateral {
    position: fixed
  }

}
.menu-lateral{
    height: 100%;
    padding-top: 25px; 
    background: rgb(35, 35, 35);
}

.item-menu-lateral{
    color: #e8e8e8
}

.a-menu-lateral{
    color: #e8e8e8
}

.a-menu-lateral:hover{
    background: #e8e8e8;
    color: rgb(35, 35, 35);
    border-radius: 15px;
}

.a-menu-lateral:focus{
    color: rgb(35, 35, 35);
    border-radius: 15px;
}

body{
    background: #eee;
}

.resultadoBusqueda{
    margin-top: 46px;
    margin-left: 15px;    
    overflow: hidden;
    overflow-y: auto;
    position: absolute;
    width: 302px;
    display: none;
   
}
