@media (min-width: 768px) {
  .menu-lateral {
    position: fixed
  }

}
.menu-lateral{
    height: 100%;
    padding-top: 25px;        
}

.resultadoBusqueda{
    margin-top: 46px;
    margin-left: 15px;    
    overflow: hidden;
    overflow-y: auto;
    position: absolute;
    width: 302px;
    display: none;
   
}